.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* 모바일 화면에서의 스타일 조정 */
@media (max-width: 767px) {
  /* 모바일 화면에서 로고 크기 조정 */
  .App-logo {
    height: 20vmin;
  }
  
  /* 모바일 화면에서 헤더의 높이를 조정하여 전체 화면을 채웁니다. */
  .App-header {
    min-height: 100vh;
  }
  
  /* 모바일 화면에서 폰트 크기를 더 작게 조정 */
  .App-header, .App-link {
    font-size: calc(8px + 1vmin);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}